<section class="">
    <footer class="pt-4 pb-4  bg-dark text-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-8">
            <ul class="nav justify-content-center justify-content-md-start">
              <li class="nav-item">
                <a class="nav-link active" href="https://www.linkedin.com/in/tiago-perroni-479009193/" target="_blank"><img class="logo" src="assets/img/linkedin.png">Linkedin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.youtube.com/channel/UC8ZX76TLeqM6GRXlDYCGjjw" target="_blank"><img class="logo" src="assets/img/youtubelogo.png">Youtube</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://hub.docker.com/u/tiagoperroni" target="_blank"><img class="logo" src="assets/img/docker.png">DockerHub</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/tiago-perroni-479009193/detail/recent-activity/posts/" target="_blank"><img class="logo" src="assets/img/articles.png">Artigos</a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-4 mt-4 mt-md-0 text-center text-md-end">
            © 2021 tiagoperroni. All Rights Reserved
          </div>
        </div>
      </div>
    </footer>
  </section>